<!-- Contact Page Section
======================================  -->
<section id="main-article">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="main-article-heading">
          <h2>Contact</h2>
        </div>

        <div class="contact-subheading">
          <h3>Feel free to ask whatever you are interested in...</h3>
        </div>

      </div> <!-- col end -->
    </div> <!-- row end -->

    <div class="row">
      <div class="col-md-12">

        <form action="action_page.php">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Your name ...">
          </div> <!-- form group end -->

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Your email ...">
          </div> <!-- form group end -->

          <div class="form-group">
            <label for="know-us">How did you find us</label>
            <select id="know-us" class="form-control" name="know-us">
              <option value="other">other...</option>
              <option value="web">web site</option>
              <option value="facebook">facebook</option>
              <option value="friend">friend</option>
            </select>
          </div> <!-- form group end -->

          <div class="form-group">
            <label for="subject">Subject</label>
            <textarea id="subject" class="form-control" name="subject" placeholder="Write something.." style="height:200px"></textarea>
          </div> <!-- form group end -->

          <button type="submit" class="btn btn-primary">Send</button>
        </form>

      </div> <!-- col end -->
    </div> <!-- row end -->
  </div> <!-- container end -->
</section> <!-- contact page section end -->