<app-cards></app-cards>

<!-- MAIN INFO Section
====================================== -->
<section id="main-info">
  <div class="container">
    <div class="row">
      <article class="col-md-4 col-sm-6 col-xs-12">
        <a [routerLink]="['/history']">
          <div class="img-thumb">
            <div class="overlay"></div>
            <div class="img-thumb-text">history</div>
            <figure>
              <img class="img-fluid grow" src="assets/img/img-hystory.jpg" alt="hystory image">
            </figure>
          </div>
        </a>
        <div class="text-thumb">
          <div class="text-thumb-heading">
            <h2>History</h2>
          </div>

          <p>One of the first examples of bicycles modified specifically for off-road use is the expedition of Buffalo Soldiers from Missoula, Montana to Yellowstone in August 1896. The Swiss military had its first bike regiment in 1891.</p>

        </div>
      </article> <!-- end: col -->


      <article class="col-md-4 col-sm-6 col-xs-12">
        <div class="text-thumb">
          <div class="text-thumb-heading top">
            <h2>MTB Helmets</h2>
          </div>

          <p>A bicycle helmet is designed to attenuate impacts to the head of a cyclist in falls while minimizing side effects such as interference with peripheral vision. There is ongoing scientific research into the degree of protection offered by bicycle helmets in the event of an accident, and on the effects of helmet wearing on cyclist and motor vehicle driver behaviour.</p>
        </div>

        <a [routerLink]="['/equipment']">
          <div class="img-thumb">
            <div class="overlay"></div>
            <div class="img-thumb-text">equipment</div>
            <figure>
              <img class="img-thumb img-fluid grow" src="assets/img/img-equipment.jpg" alt="mtb helmet">
            </figure>
          </div>
        </a>
      </article> <!-- end: col -->

      <article class="col-md-4 col-sm-6 col-xs-12">
        <a href="#main-article">
          <div class="img-thumb">
            <div class="overlay"></div>
            <div class="img-thumb-text">bikes</div>
            <figure>
              <img class="img-thumb img-fluid grow"
                   src="assets/img/img-facts.jpg"
                   alt="mountain bike info">

            </figure>
          </div>

        </a>
        <div class="text-thumb">
          <div class="text-thumb-heading">
            <h2>MTB Info</h2>
          </div>
          <p>Mountain biking is the sport of riding bicycles off-road, often over rough terrain, using specially designed mountain bikes. Mountain bikes share similarities with other bikes, but incorporate features designed to enhance durability and performance in rough terrain.</p>

        </div>
      </article>

    </div> <!-- end: row -->
  </div> <!-- end: container section -->
</section> <!-- end: main info section -->


<app-image-brake-parallax></app-image-brake-parallax>
<app-main-article></app-main-article>